<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-light">Unofficial Keyforge Tournaments</a>
    <button class="navbar-toggler" type="button" (click)="navbarToggle()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div
        class="collapse navbar-collapse justify-content-between"
        [ngClass]="{ show: navbarOpen }"
        *ngIf="authService.user | async as user; else guest"
    >
        <ul
            class="navbar-nav mr-auto"
            *ngIf="authService.username !== undefined"
        >
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdown"
                    role="button"
                    (click)="tournamentToggle()"
                    style="cursor:pointer;"
                >
                    Tournaments
                </a>
                <div
                    class="dropdown-menu"
                    [ngClass]="{ show: tournamentDropdown }"
                >
                    <a class="dropdown-item" routerLink="/tournaments"
                        >Active Tournaments</a
                    >
                    <a class="dropdown-item" routerLink="/tournaments/create"
                        >New Tournament</a
                    >
                    <a class="dropdown-item" routerLink="/finished"
                        >Finished Tournaments</a
                    >
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/decks">
                    Decks
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Individal Game</a>
            </li> -->
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" [routerLink]="">
                <a class="nav-link" [routerLink]="">
                    {{ user.username }}
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    style="cursor:pointer"
                    (click)="authService.signOut()"
                    >Log Out</a
                >
            </li>
        </ul>
    </div>
    <ng-template #guest>
        <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Log In</a>
                </li>
            </ul>
        </div>
    </ng-template>
</nav>
