.login-box {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    min-width: 280px;
    padding: 30px;
    border-radius: 20px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

p {
    margin-bottom: 0;
}
