<div
    class="row"
    style="margin:0;"
    *ngFor="let tourn of currentTournaments | async; let i = index"
>
    <div class="col" *ngIf="i === tournId">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h3>{{ tourn.name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <h3>Round {{ tourn.curRound }} of {{ tourn.maxRounds }}</h3>
            </div>
        </div>
        <br />

        <small>Click on the winner of the match</small>
        <div class="row">
            <div class="col-3 match">
                <h5 class="box h-100 d-flex justify-content-center flex-column">
                    Match
                </h5>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col match align-item-center">
                        <h6
                            class="box h-100 d-flex justify-content-center flex-column"
                        >
                            Player 1
                        </h6>
                    </div>
                    <div class="col match align-item-center">
                        <h6
                            class="box h-100 d-flex justify-content-center flex-column"
                        >
                            Player 2
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row"
            *ngFor="
                let pair of tourn.rounds[tourn.curRound - 1].pairings;
                let i = index
            "
        >
            <div class="col-3 match">
                <div
                    class="box h-100 d-flex justify-content-center align-item-center flex-column"
                >
                    <h5>{{ i + 1 }}</h5>
                </div>
            </div>
            <div
                class="col match"
                (click)="onClickPlayer(i, pair.player1.name)"
                [ngClass]="{ winner: pair.player1.winner }"
            >
                <div
                    class="box h-100 d-flex justify-content-center align-item-center flex-column"
                >
                    <p>
                        {{ pair.player1.name }}
                    </p>
                    <small>{{ pair.player1.deck | deckName }}</small>

                    <!-- <small
                        >W
                        {{
                            tourn.rounds[tourn.curRound - 1].players[2 * i].wins
                        }}
                        - L
                        {{
                            tourn.rounds[tourn.curRound - 1].players[2 * i]
                                .losses
                        }}
                        - B
                        {{
                            tourn.rounds[tourn.curRound - 1].players[2 * i].byes
                        }}</small
                    > -->
                    <small *ngIf="pair.player1.chains >= 0">
                        Chains: {{ pair.player1.chains }}
                    </small>
                </div>
            </div>
            <div
                class="col match"
                (click)="onClickPlayer(i, pair.player2.name)"
                [ngClass]="{ winner: pair.player2.winner }"
            >
                <div
                    class="box h-100 d-flex justify-content-center align-item-center flex-column"
                >
                    <p>
                        {{ pair.player2.name }}
                    </p>
                    <small *ngIf="!(pair.player2.deck === '')">{{
                        pair.player2.deck | deckName
                    }}</small>
                    <!-- <small *ngIf="!(pair.player2.deck === '')"
                        >W
                        {{
                            tourn.rounds[tourn.curRound - 1].players[2 * i + 1]
                                .wins
                        }}
                        - L
                        {{
                            tourn.rounds[tourn.curRound - 1].players[2 * i + 1]
                                .losses
                        }}
                        - B
                        {{
                            tourn.rounds[tourn.curRound - 1].players[2 * i + 1]
                                .byes
                        }}</small
                    > -->
                    <small *ngIf="pair.player2.chains >= 0">
                        Chains: {{ pair.player2.chains }}
                    </small>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col text-center">
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onNextRound()"
                    *ngIf="tourn.curRound < tourn.maxRounds"
                    style="height:50px;width:200px;"
                    [disabled]="!allFinished"
                >
                    <h5 class="font-weight-bold">End Round</h5>
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onFinish()"
                    *ngIf="tourn.curRound === tourn.maxRounds"
                    style="height:50px;width:200px;"
                    [disabled]="!allFinished"
                >
                    <h5 class="font-weight-bold">
                        End Tournament
                    </h5>
                </button>
            </div>
        </div>
    </div>
</div>

<app-variable-confirmation
    [message]="'end round ' + curRound"
    *ngIf="endingRound"
    (choice)="onConfirmNextRound($event)"
>
</app-variable-confirmation>

<app-variable-confirmation
    [message]="'end the tournament?'"
    *ngIf="endingTourn"
    (choice)="onConfirmEndTourn($event)"
>
</app-variable-confirmation>
