<div
    class="row"
    style="margin:0;"
    *ngFor="let tourn of currentTournaments | async; let i = index"
>
    <div class="col" *ngIf="i === tournId">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h3>{{ tourn.name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <h3>Round {{ tourn.curRound }} of {{ tourn.maxRounds }}</h3>
            </div>
        </div>
        <br />

        <small>Click on the winner of the match</small>
        <app-pairings-table
            [tourn]="tourn"
            [round]="tourn.curRound - 1"
            [running]="true"
            (clickPlayer)="onClickPlayer($event)"
            [displayStats]="displayStats"
        ></app-pairings-table>
        <br />
        <div class="row">
            <div class="col text-center" *ngIf="tourn.type !== 'singleElim'">
                <button
                    type="button"
                    class="btn btn-success"
                    (click)="onChangeDisplay()"
                    style="height:50px;width:200px;"
                >
                    <h5 class="font-weight-bold">Display W/L/B</h5>
                </button>
            </div>
            <div class="col text-center">
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onNextRound()"
                    *ngIf="tourn.curRound < tourn.maxRounds"
                    style="height:50px;width:200px;"
                    [disabled]="!allFinished"
                >
                    <h5 class="font-weight-bold">End Round</h5>
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onFinish()"
                    *ngIf="tourn.curRound === tourn.maxRounds"
                    style="height:50px;width:200px;"
                    [disabled]="!allFinished"
                >
                    <h5 class="font-weight-bold">
                        End Tournament
                    </h5>
                </button>
            </div>
        </div>
    </div>
</div>

<app-variable-confirmation
    [message]="'end round ' + curRound"
    *ngIf="endingRound"
    (choice)="onConfirmNextRound($event)"
>
</app-variable-confirmation>

<app-variable-confirmation
    [message]="'end the tournament'"
    *ngIf="endingTourn"
    (choice)="onConfirmEndTourn($event)"
>
</app-variable-confirmation>
