<div *ngIf="authService.isloading" style="text-align:center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<app-alert
    [message]="authService.error"
    *ngIf="authService.error"
    (close)="onHandleError()"
></app-alert>
<div class="row" style="min-height: 300px">
    <div class="col">
        <br />
        <!-- Log In Mode -->
        <div
            class="box d-flex justify-content-center align-item-center flex-column bg-light login-box text-dark"
            *ngIf="!signUp && !authService.needUsername && !forgotPass"
        >
            <h4>Log In</h4>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        class="form-control"
                        formControlName="email"
                    />
                    <small
                        style="color:red"
                        *ngIf="
                            loginForm.get('email').invalid &&
                            loginForm.get('email').touched
                        "
                        >Please enter a valid email!</small
                    >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        class="form-control"
                        formControlName="password"
                    />
                    <small
                        style="color:red"
                        *ngIf="
                            loginForm.get('password').invalid &&
                            loginForm.get('password').touched
                        "
                        >Please enter a valid password!</small
                    >
                </div>
                <button
                    class="btn btn-primary w-100"
                    type="submit"
                    style="margin-bottom: 10px"
                >
                    Submit
                </button>
            </form>

            <div class="row" style="margin-bottom: 10px;">
                <div class="col text-center">
                    <button
                        class="btn btn-link btn-sm"
                        (click)="forgotPassword()"
                    >
                        Forgot Password
                    </button>
                </div>
                <div class="col text-center">
                    <button
                        (click)="onChangeMode()"
                        class="btn btn-link btn-sm"
                    >
                        Sign Up
                    </button>
                </div>
            </div>

            <button
                (click)="authService.googleLogin()"
                class="btn btn-social btn-google"
            >
                <span class="fa fa-google"></span>Sign in with Google
            </button>
        </div>

        <!-- Sign Up Mode -->
        <div
            class="box d-flex justify-content-center align-item-center flex-column bg-light login-box text-dark"
            *ngIf="signUp && !authService.needUsername && !forgotPass"
        >
            <h4>Sign Up</h4>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        class="form-control"
                        formControlName="email"
                    />
                    <p>
                        <small
                            style="color:red"
                            *ngIf="
                                signupForm.get('email').invalid &&
                                signupForm.get('email').touched
                            "
                            >Please enter a valid email!</small
                        >
                    </p>
                    <label for="verifyEmail">Verify Email</label>
                    <input
                        type="email"
                        id="verifyEmail"
                        class="form-control"
                        formControlName="verifyEmail"
                    />
                    <p>
                        <small
                            style="color:red"
                            *ngIf="
                                signupForm.controls.verifyEmail.hasError(
                                    'NoEmailMatch'
                                )
                            "
                            >Emails do not match!</small
                        >
                    </p>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        class="form-control"
                        formControlName="password"
                    />
                    <p>
                        <small
                            style="color:red"
                            *ngIf="
                                signupForm.controls.password.hasError(
                                    'hasNoNum'
                                )
                            "
                            >A number is required!</small
                        >
                    </p>
                    <p>
                        <small
                            style="color:red"
                            *ngIf="
                                signupForm.controls.password.hasError(
                                    'hasNoCap'
                                )
                            "
                            >A capital letter is required!</small
                        >
                    </p>
                    <p>
                        <small
                            style="color:red"
                            *ngIf="
                                signupForm.controls.password.hasError(
                                    'hasNoLow'
                                )
                            "
                            >A lowercase letter is required!</small
                        >
                    </p>
                    <p>
                        <small
                            style="color:red"
                            *ngIf="
                                signupForm.controls.password.hasError(
                                    'tooShort'
                                )
                            "
                            >Password must have a length of 8 or more!</small
                        >
                    </p>
                    <label for="verifyPassword">Verify Password</label>
                    <input
                        type="password"
                        id="verifyPassword"
                        class="form-control"
                        formControlName="verifyPassword"
                    />
                    <p>
                        <small
                            style="color:red"
                            *ngIf="
                                signupForm.controls.verifyPassword.hasError(
                                    'hasNoNum'
                                )
                            "
                            >A number is required!</small
                        >
                    </p>
                    <p>
                        <small
                            style="color:red"
                            *ngIf="
                                signupForm.controls.verifyPassword.hasError(
                                    'hasNoCap'
                                )
                            "
                            >A capital letter is required!</small
                        >
                    </p>
                    <p>
                        <small
                            style="color:red"
                            *ngIf="
                                signupForm.controls.verifyPassword.hasError(
                                    'hasNoLow'
                                )
                            "
                            >A lowercase letter is required!</small
                        >
                    </p>
                    <p>
                        <small
                            style="color:red"
                            *ngIf="
                                signupForm.controls.verifyPassword.hasError(
                                    'tooShort'
                                )
                            "
                            >Password must have a length of 8 or more!</small
                        >
                    </p>
                    <p>
                        <small
                            style="color:red"
                            *ngIf="
                                signupForm.controls.verifyPassword.hasError(
                                    'NoPasswordMatch'
                                )
                            "
                            >Passwords do not match!</small
                        >
                    </p>
                </div>
                <button
                    class="btn btn-primary w-100"
                    type="submit"
                    style="margin-bottom: 10px"
                    [disabled]="signupForm.invalid"
                >
                    Submit
                </button>
            </form>

            <div class="row" style="margin-bottom: 10px;">
                <div class="col text-center">
                    <button
                        (click)="onChangeMode()"
                        class="btn btn-link btn-sm"
                    >
                        Return to Log In
                    </button>
                </div>
            </div>
        </div>

        <!-- Add username after signup -->
        <div *ngIf="authService.needUsername">
            <div class="backdrop"></div>
            <div
                class="box d-flex justify-content-center align-item-center flex-column bg-light username-box text-dark"
            >
                <h4>Choose a username</h4>
                <small style="color:red;margin-bottom: 10px"
                    >This cannot be changed!</small
                >
                <form
                    [formGroup]="usernameForm"
                    (ngSubmit)="onSubmitUsername()"
                >
                    <div class="form-group">
                        <input
                            type="text"
                            id="username"
                            class="form-control"
                            formControlName="username"
                        />
                        <p>
                            <small
                                style="color:red"
                                *ngIf="
                                    usernameForm.controls.username.hasError(
                                        'oneWord'
                                    )
                                "
                                >Username should be one word!</small
                            >
                        </p>
                        <p>
                            <small
                                style="color:red"
                                *ngIf="
                                    usernameForm.controls.username.hasError(
                                        'usernameTaken'
                                    )
                                "
                                >Username is already in use!</small
                            >
                        </p>
                    </div>

                    <button
                        class="btn btn-primary w-100"
                        type="submit"
                        style="margin-bottom: 10px"
                    >
                        Submit
                    </button>
                </form>
            </div>
        </div>

        <!-- Forgot Password -->
        <div
            class="box d-flex justify-content-center align-item-center flex-column bg-light login-box text-dark"
            *ngIf="forgotPass"
        >
            <h4>Forgot Password</h4>
            <form
                [formGroup]="forgotPassForm"
                (ngSubmit)="onSubmitPasswordReset()"
            >
                <div class="form-group">
                    <label for="email">Please Enter Email</label>
                    <input
                        type="email"
                        id="email"
                        class="form-control"
                        formControlName="email"
                    />
                    <small
                        style="color:red"
                        *ngIf="
                            forgotPassForm.get('email').invalid &&
                            forgotPassForm.get('email').touched
                        "
                        >Please enter a valid email!</small
                    >
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col text-center">
                        <button
                            type="button"
                            class="btn btn-link btn-sm"
                            (click)="forgotPassword()"
                        >
                            Go Back
                        </button>
                    </div>
                    <div class="col text-center">
                        <button
                            type="button"
                            (click)="onChangeMode()"
                            class="btn btn-link btn-sm"
                        >
                            Sign Up
                        </button>
                    </div>
                </div>

                <button
                    class="btn btn-primary w-100"
                    type="submit"
                    style="margin-bottom: 10px"
                >
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
