<div
    class="row"
    style="margin:0"
    *ngFor="let deck of decks | async; let i = index"
>
    <div class="col" *ngIf="i === deckId">
        <div class="row">
            <div
                class="col bg-secondary text-light "
                style="text-align:center; border-radius: 15px; padding:15px;"
            >
                <h2>{{ deck.deckName }}</h2>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col" style="text-align: center;">
                <button
                    class="btn"
                    [ngClass]="{
                        'btn-primary': unofficial,
                        'btn-outline-primary': !unofficial
                    }"
                    (click)="onUnofficial()"
                >
                    Unofficial Stats
                </button>
            </div>
            <div class="col" style="text-align: center;">
                <button
                    class="btn"
                    [ngClass]="{
                        'btn-primary': !unofficial,
                        'btn-outline-primary': unofficial
                    }"
                    (click)="onOfficial()"
                >
                    Deck List
                </button>
            </div>
        </div>
        <br />
        <div class="row" *ngIf="unofficial">
            <div class="col" style="text-align: center">
                <div class="row">
                    <div class="col">
                        <!-- wins, loses, byes, chains -->
                        <ul class="list-group">
                            <li
                                class="list-group-item list-group-item-primary "
                            >
                                <h5 class="my-0 font-weight-bold">
                                    Unofficial Results
                                </h5>
                            </li>
                            <li
                                class="list-group-item list-group-item-secondary"
                            >
                                <div class="row">
                                    <div class="col">
                                        <p>Wins: {{ deck.wins }}</p>
                                    </div>
                                    <div class="col">
                                        <p>Losses: {{ deck.losses }}</p>
                                    </div>
                                    <div class="col">
                                        <p>Byes: {{ deck.byes }}</p>
                                    </div>
                                    <div class="col">
                                        <p>Chains: {{ deck.chains }}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <app-tourn-list
                            [tourns]="deck.tournament"
                        ></app-tourn-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!unofficial">
            <div class="col house-columns" *ngFor="let house of deck.house">
                <div class="row mx-0">
                    <div class="col house-header">
                        <img
                            src="{{ house.img }}"
                            alt="{{ house.name }}"
                            style="height:7vh"
                        />
                        <h5>{{ house.name }}</h5>
                    </div>
                </div>
                <div class="row mx-0 px-0">
                    <div class="col px-0">
                        <app-card-list
                            [cardList]="house.cards.Action"
                            [listType]="'Action'"
                        ></app-card-list>
                        <app-card-list
                            [cardList]="house.cards.Artifact"
                            [listType]="'Artifact'"
                        ></app-card-list>
                        <app-card-list
                            [cardList]="house.cards.Creature"
                            [listType]="'Creature'"
                        ></app-card-list>
                        <app-card-list
                            [cardList]="house.cards.Upgrade"
                            [listType]="'Upgrade'"
                        ></app-card-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
