<div class="row">
    <div class="col match" style="min-width: 100px">
        <div
            class="box h-100 d-flex justify-content-center align-item-center flex-column"
            style="margin:0 -15px"
        >
            <h4>Player Name</h4>
        </div>
    </div>
    <div class="col match">
        <div
            class="box h-100 d-flex justify-content-center align-item-center flex-column"
            style="margin:0 -15px"
        >
            <h4>W-L-B</h4>
        </div>
    </div>
    <div class="col-3 match" *ngIf="tourn.type === 'swiss'">
        <div
            class="box h-100 d-flex justify-content-center align-item-center flex-column"
            style="margin:0 -15px"
        >
            <h4>SoS</h4>
        </div>
    </div>
    <div class="col-3 match" *ngIf="tourn.type === 'swiss'">
        <div
            class="box h-100 d-flex justify-content-center align-item-center flex-column"
            style="margin:0 -15px"
        >
            <h4>ESoS</h4>
        </div>
    </div>
</div>
<div class="row" *ngFor="let player of tourn.rounds[round].players">
    <div class="col match" style="min-width: 100px">
        <div
            class="box h-100 d-flex justify-content-center align-item-center flex-column"
            style="margin:0 -15px"
        >
            <h6>{{ player.playername }}</h6>
            <a href="{{ player.deckUrl }}" target="_blank">
                <small>{{ player.deckname | deckName: 12 }}</small>
            </a>
        </div>
    </div>
    <div class="col match">
        <div
            class="box h-100 d-flex justify-content-center align-item-center flex-column"
            style="margin:0 -15px"
        >
            <h5>
                {{ player.wins }} - {{ player.losses }} -
                {{ player.byes }}
            </h5>
        </div>
    </div>
    <div class="col-3 match" *ngIf="tourn.type === 'swiss'">
        <div
            class="box h-100 d-flex justify-content-center align-item-center flex-column"
            style="margin:0 -15px"
        >
            <h5>{{ player.SoS | number }}</h5>
        </div>
    </div>
    <div class="col-3 match" *ngIf="tourn.type === 'swiss'">
        <div
            class="box h-100 d-flex justify-content-center align-item-center flex-column"
            style="margin:0 -15px"
        >
            <h5>{{ player.ESoS | number }}</h5>
        </div>
    </div>
</div>
