.match {
    border: 1px solid black;
    min-height: 4rem;
    text-align: center;
}
p,
h4,
h5 {
    margin-bottom: 0;
}

.tab {
    background-color: lightgrey;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
}
