<div
    class="row"
    style="margin:0;"
    *ngFor="let tourn of finishedTournaments | async; let i = index"
>
    <div class="col" *ngIf="i === tournId">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h2>{{ tourn.name }}</h2>
            </div>
        </div>
        <br />
        <div class="row" *ngFor="let round of tourn.rounds; let j = index">
            <div class="col">
                <div *ngIf="j > 0">
                    <div class="row">
                        <div class="col tab" (click)="onToggleResults(j)">
                            <h3 style="display:inline;">
                                Round {{ j }} Results:
                            </h3>
                            <i
                                class="fa fa-2x float-right"
                                style="margin-bottom:0; margin-top: 2px"
                                [ngClass]="{
                                    'fa-minus': results[j],
                                    'fa-plus': !results[j]
                                }"
                            ></i>
                        </div>
                    </div>
                    <app-standings-table
                        [tourn]="tourn"
                        [round]="j"
                        *ngIf="results[j]"
                    ></app-standings-table>
                    <br />
                </div>

                <!-- Pairings -->

                <div *ngIf="j !== tourn.maxRounds">
                    <div class="row">
                        <div class="col tab" (click)="onTogglePairings(j)">
                            <h3 style="display:inline;">
                                Round {{ j + 1 }} Pairings:
                            </h3>
                            <i
                                class="fa fa-2x float-right"
                                style="margin-bottom:0; margin-top: 2px"
                                [ngClass]="{
                                    'fa-minus': pairings[j],
                                    'fa-plus': !pairings[j]
                                }"
                            ></i>
                        </div>
                    </div>
                    <app-pairings-table
                        [tourn]="tourn"
                        [tournType]="tourn.type"
                        [round]="j"
                        [running]="false"
                        [displayStats]="true"
                        *ngIf="pairings[j]"
                    ></app-pairings-table>
                </div>
            </div>
        </div>
    </div>
</div>
