.match {
    border: 1px solid black;
    min-height: 4rem;
    text-align: center;
}
p,
h4,
h5 {
    margin-bottom: 0;
}

.tab {
    background-color: lightgrey;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.hidden {
    transform: scaleY(0);
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
}

.visible {
    opacity: 1;
    transition-property: all;
    transition-duration: 1s;
}
