.match{
    border: 1px solid black;
    min-height:4rem;
    text-align: center;
}
.parent {
    position: relative;
  }
  .child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }