<div class="row" *ngFor="let tourn of currentTournaments | async; let i=index">
    <div class="col">
        <ng-template [ngIf]="i===tournId">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h3>{{tourn.name}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h3>Round {{tourn.curRound}} of {{tourn.maxRounds}}</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h4>Current Standings:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col match parent">
                            <h4 class="child">Player Name</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col match parent">
                            <h4 class="child">Wins</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col match parent">
                            <h4 class="child">Losses</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngFor="let player of tourn.rounds[tourn.curRound-1].players">
                <div class="col">
                    <div class="row">
                        <div class="col match parent">
                            <h5 class="child">{{player.playername}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col match parent">
                            <h5 class="child">{{player.wins}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col match parent">
                            <h5 class="child">{{player.losses}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    
</div>
<br>
<div class="row">
    <div class="col" style="text-align: center;">
        <button class="btn btn-primary" type="button" routerLink="run">Run Tournament</button>
    </div>
    <div class="col" style="text-align: center;">
        <button class="btn btn-danger" type="button" (click)="onDelete()">Delete Tournament</button>
    </div>
</div>
