<div
    class="row"
    style="margin:0;"
    *ngFor="let tourn of currentTournaments | async; let i = index"
>
    <div class="col" *ngIf="i === tournId">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h2>{{ tourn.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <h3>Round {{ tourn.curRound }} of {{ tourn.maxRounds }}</h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col" style="text-align: center;">
                <h3>Current Standings:</h3>
            </div>
        </div>
        <app-standings-table
            [tourn]="tourn"
            [round]="tourn.curRound - 1"
            *ngIf="tourn.type !== 'singleElim'"
        ></app-standings-table>
        <app-single-elim-table
            [tourn]="tourn"
            [round]="tourn.curRound - 1"
            [running]="true"
            *ngIf="tourn.type === 'singleElim'"
        ></app-single-elim-table>
        <br />

        <div class="row">
            <div class="col" style="text-align: center;">
                <button class="btn btn-primary" type="button" routerLink="run">
                    Run Tournament
                </button>
            </div>
            <div class="col" style="text-align: center;">
                <button
                    class="btn btn-danger"
                    type="button"
                    (click)="onDelete(tourn.name)"
                >
                    Delete Tournament
                </button>
            </div>
        </div>
    </div>
</div>

<app-variable-confirmation
    [message]="'delete ' + deleteName"
    *ngIf="deleting"
    (choice)="onConfirmation($event)"
>
</app-variable-confirmation>
