<div
    class="row"
    style="margin:0;"
    *ngFor="let tourn of currentTournaments | async; let i = index"
>
    <div class="col" *ngIf="i === tournId">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h2>{{ tourn.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <h3>Round {{ tourn.curRound }} of {{ tourn.maxRounds }}</h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col" style="text-align: center;">
                <h3>Current Standings:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col match">
                <div
                    class="box h-100 d-flex justify-content-center align-item-center flex-column"
                >
                    <h4>Player Name</h4>
                </div>
            </div>
            <div class="col match">
                <div
                    class="box h-100 d-flex justify-content-center align-item-center flex-column"
                >
                    <h4>Wins-Losses-Byes</h4>
                </div>
            </div>
            <div class="col match" *ngIf="tourn.type === 'swiss'">
                <div
                    class="box h-100 d-flex justify-content-center align-item-center flex-column"
                >
                    <h4>SoS</h4>
                </div>
            </div>
            <div class="col match" *ngIf="tourn.type === 'swiss'">
                <div
                    class="box h-100 d-flex justify-content-center align-item-center flex-column"
                >
                    <h4>ESoS</h4>
                </div>
            </div>
        </div>
        <div
            class="row"
            *ngFor="let player of tourn.rounds[tourn.curRound - 1].players"
        >
            <div class="col match">
                <div
                    class="box h-100 d-flex justify-content-center align-item-center flex-column"
                >
                    <h6>{{ player.playername }}</h6>
                    <a href="{{ player.deckUrl }}" target="_blank">
                        <small>{{ player.deckname | deckName }}</small>
                    </a>
                </div>
            </div>
            <div class="col match">
                <div
                    class="box h-100 d-flex justify-content-center align-item-center flex-column"
                >
                    <h5>
                        {{ player.wins }} - {{ player.losses }} -
                        {{ player.byes }}
                    </h5>
                </div>
            </div>
            <div class="col match" *ngIf="tourn.type === 'swiss'">
                <div
                    class="box h-100 d-flex justify-content-center align-item-center flex-column"
                >
                    <h5>{{ player.SoS }}</h5>
                </div>
            </div>
            <div class="col match" *ngIf="tourn.type === 'swiss'">
                <div
                    class="box h-100 d-flex justify-content-center align-item-center flex-column"
                >
                    <h5>{{ player.ESoS }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col" style="text-align: center;">
        <button class="btn btn-primary" type="button" routerLink="run">
            Run Tournament
        </button>
    </div>
    <div class="col" style="text-align: center;">
        <button class="btn btn-danger" type="button" (click)="onDelete()">
            Delete Tournament
        </button>
    </div>
</div>

<app-variable-confirmation
    [message]="'delete ' + tournName"
    *ngIf="deleting"
    (choice)="onConfirmation($event)"
>
</app-variable-confirmation>
